@tailwind base;
@tailwind components;
@tailwind utilities;

/* Marquee animation mượt vô hạn */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 20s linear infinite;
  will-change: transform;
}

/* ===== Camera Fade Animation ===== */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
